.movieCastWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.castTitle {
  margin-top: 35px;
  text-transform: uppercase;
  color: #8c348c;
}

.castList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.castListItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
